.wrapper{
    margin: 0px;
}
.container{
    margin: 0 auto;
    max-width: 1145px;
}
.header_nav{
    text-align: center;
}
a{
    text-decoration: none;
    color: inherit;
    padding: 15px;
    margin: 10px 20px;
}


.menu_item{
    color: red;
}

li {
    display: inline;
    text-align: center;

}

ul{
    text-align: center;
}
.banner {

}


.button_primary {
    border: none;
    border-radius: 4px;
    color: #ffffff;
    padding: 18px  43px;
    background-color: red;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}
.article{
    text-align: center;
}
.copyright{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
}
.footer_wrapper{
    text-align: right;
}
head {
    color: red;
}